# .travis.yml

language: php
php:
  - "7.2"
  - "7.3"
  - "7.4"


env:

before_script:
  - rm composer.lock
  - composer self-update
  - composer install --no-interaction
  - cp phpunit.xml.dist phpunit.xml

script:
  - vendor/bin/phpunit

after_script:


